body {
background-color: lightgray;
font-family: 'Playfair display';
}

main-menu {
    background-color: hsla(193, 68%, 23%, 1);
    color: white;
    text-align: center;
    padding-top: 2.5%;
    line-height: 3rem;
    width: 100%;

}
h1, h2 {
font-family: Montserrat;
font-size: 1.8rem;
}

a {
    background-color: hsla(41, 74%, 53%, 0.9);
    font-family: Montserrat;
    color: hsla(286, 52%, 21%, 1);
    border-radius: 10px;
    padding: 0.7%;
    margin: 2%;
    text-decoration: none;
}

a:hover{
   background-color: lightgrey; 
  
}

primary.conten{ 
    line-height: 250%;
    padding:  2%;
}

 leg { 
    width: 100%;
}

h2 { 
    color: hsla(286, 52%, 21%, 1); 
    line-height: 120%;
}

@media (min-width: 768px){ 
    .main-menu {
        width: 20%;
        height: 100vh;
        position: fixed;
        padding: 2%;
        margin: 0;
    }
 
    .primary-content {
        width: 70%;
        float: right;
    }

    img {
        width: 60%;
    }
}